<!-- Header -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="text-dark">Cars</h1>
      </div>
    </div>
  </div>
</div>

<!-- Content -->
<div class="content">
  <div class="container-fluid">
    <mat-grid-list [cols]="colAmount" rowHeight="100px">
      <mat-grid-tile *ngFor="let car of cars">
        <mat-card class="mouse-pointer light-gray-hover col-lg-11" routerLink="/cars/details/{{car.id}}">
          <mat-card-title>{{car.model}}</mat-card-title>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
