<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark"></h1>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row justify-content-center mb-5">
      <h1>Welcome to the Belfius demo application!</h1>
    </div>
    <div class="row justify-content-center">
      <img src="assets/images/belfius.png" alt="Angular Logo">
    </div>
  </div>
</div>
