<!-- Header -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="text-dark">Models</h1>
      </div>
    </div>
  </div>
</div>

<!-- Content -->
<div class="content">
  <div class="container-fluid">
    <mat-grid-list [cols]="colAmount" rowHeight="100px">
      <mat-grid-tile *ngFor="let carModel of carModels">
        <mat-card class="mouse-pointer light-gray-hover col-lg-11" routerLink="/cars/details/{{carModel.id}}">
          <mat-card-title>
            <div class="row justify-content-between">
              <div>{{carModel.name}}</div>
              <div>
                <small class="text-muted card-description">{{carModel.description}}</small>
              </div>
            </div>
          </mat-card-title>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
